{% extends 'base.html.twig' %}

{% block titrePage %}Ajouter une nouvelle formation{% endblock %}

{% block contenuPage %}
    

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">back to list</a>
{% endblock %}
